@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import "tailwindcss";

@theme{
  --color-primary: #05b6d3;
  --color-secondary: #EF863E;
}

@layer components{
  .input-box{
  @apply w-full text-sm bg-cyan-600/5 rounded-sm px-5 py-3 mb-4 outline-none
  }


   .btn-primary {
        @apply w-full text-sm font-medium text-white bg-cyan-500 shadow-lg shadow-cyan-200/50 p-[10px] rounded-full my-1 hover:bg-cyan-100 hover:text-blue-500
    }
    .btn-primary {
      @apply w-full text-sm font-medium text-yellow-900 bg-yellow-100 shadow-lg shadow-yellow-200/50 p-[10px] rounded-full my-1 hover:bg-yellow-200 hover:text-yellow-700;
    }

    .btn-light {
      @apply bg-yellow-50 text-yellow-700 shadow-yellow-100/0 border-yellow-100 hover:bg-yellow-200 hover:text-yellow-900;
    }
    
     .login-ui-box {
        @apply w-80 h-[450px] rounded-full bg-amber-500 absolute rotate-45
    }


    .icon-btn {
        @apply text-[22px] text-slate-300 cursor-pointer hover:text-red-500
    }

} 
 



*{
  font-family: Outfit;
}



.font-diary{
   font-family: diary !important;
}